D:/UserResource/Code/CharmPk/models/train_scripts/best_model.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
D:/UserResource/Code/CharmPk/models/score_model.pth filter=lfs diff=lfs merge=lfs -text
